<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post" class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-4">
            <repeat group="{{ @conds }}" value="{{ @cond }}">
                <input type="radio" name="condz" id="{{ @cond }}" value="{{ @cond}}">{{ ucfirst(@cond)}}<br>
            </repeat>
        </div>
    </div>
    <input class="form-control btn btn-default"
           type="submit" value="Place an order">
</form>
</body>
</html>